POSTGRES_USER=taxi
POSTGRES_PASSWORD=local_password
POSTGRES_DB=taxi_local

DB_USER=taxi
DB_PASSWORD=local_password
DB_HOST=db
DB_PORT=5432
DB_NAME=taxi_local

DATABASE_URL=postgresql+asyncpg://taxi:local_password@db:5432/taxi_local

BOT_TOKEN=
SECRET_KEY=

# Налаштування Ngrok тунелю
NGROK_AUTHTOKEN=
NGROK_DOMAIN=
